**/node_modules/**
**/coverage/**
**/public/**
**/dist/**
**/.serverless/**
**/.webpack/**
**/.next/**
**/*.Dockerfile
**/*.sh
**/*.lock
**/*.toml
**/*.txt
**/*.md
**/*.scss
**/*.sass
**/*.policy
**/*.html
**/*.json
**/*.ejs
**/*.d.ts
node_modules
dist
tmp
.nx
.next
.github
.vscode